.card-container {
  position: relative;
}

.welcome-page {
  background-color: white;
  color: black;
  margin: 26px;
  margin-bottom: 100px;
  border-radius: 30px;
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.welcome-main {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.text-container h1 {
  font-size: 55px;
  font-weight: 700;
  width: 730px;
  margin: 0;
}

.text-container h1 span {
  color: #8F9DA8;
}

.text-container h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 22px;
}

.text-container p {
  font-size: 16px;
  font-weight: 400;
  width: 628px;
  margin-top: 64px;
}

.text-container button {
  margin-top: 64px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  padding: 23px 40px;
  border-radius: 15px;
  background: linear-gradient(90deg, #E6E8E7, #8F9DA8);
  color: black;
}

.card-1 {
  width: 500px;
  position: absolute;
  top: -30px;
  z-index: 5;
}

.card-2 {
  width: 500px;
  position: absolute;
  top: 160px;
  right: 83%;
  z-index: 3;
  transform: rotateZ(-25deg);
}

.cards-wrapper {
  position: absolute;
  top: 150px;
  left: 55%;
  width: 100%;
  pointer-events: none; /* чтобы не мешала кликам */
  transition: transform 0.5s ease;
}


@media (max-width: 1500px) {
  .welcome-page {
    padding-top: 100px;
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .welcome-page {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .card-1 {
    top: 0;
    right: 0;
    width: 300px;
  }

  .card-2 {
    top: 70px;
    right: 60px;
    width: 300px;
  }
  
  .text-container h1 {
    font-size: 28px;
    width: 450px;
    margin-bottom: 30px;
  }

  .text-container h3 {
    width: 450px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .text-container p {
    font-size: 15px;
    width: 450px;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .welcome-page {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .card-1 {
    top: 100px;
    left: 280px;
    width: 250px;
  }

  .card-2 {
    top: 200px;
    left: 230px;
    width: 250px;
  }
  
  .text-container h1 {
    font-size: 28px;
    width: 350px;
    margin-bottom: 79px;
  }

  .text-container h3 {
    width: 450px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .text-container p {
    font-size: 15px;
    width: 450px;
    margin: 0;
  }

  .text-container button {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .welcome-page {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .card-1 {
    top: 100px;
    left: 280px;
    width: 250px;
  }

  .card-2 {
    top: 200px;
    left: 230px;
    width: 250px;
  }
  
  .text-container h1 {
    font-size: 28px;
    width: 200px;
    margin-bottom: 79px;
  }

  .text-container h3 {
    width: 314px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .text-container p {
    font-size: 15px;
    width: 314px;
    margin: 0;
  }
}

@media (max-width: 1500px) {
  .cards-wrapper {
    top: 90px;
    transform: translateX(100px);
  }

  .card-1, .card-2 {
    width: 400px;
  }

  .card-2 {
    top: 120px;
    right: 75%;
  }
}

@media (max-width: 1200px) {
  .cards-wrapper {
    top: 90px;
    transform: translateX(-630px); /* сдвиг вправо */
  }

  .card-2 {
    right: 5%;
  }
}

@media (max-width: 1000px) {
  .cards-wrapper {
    top: 90px;
    transform: translateX(-530px); /* сдвиг вправо */
  }
}

@media (max-width: 900px) {
  .cards-wrapper {
    top: 90px;
    transform: translateX(-430px); /* сдвиг вправо */
  }

  .card-1, .card-2 {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .cards-wrapper {
    top: -20px;
    transform: translateX(-230px); /* ещё правее */
  }

  .card-1, .card-2 {
    width: 230px;
  }
}

@media (max-width: 500px) {
  .cards-wrapper {
    top: -20px;
    transform: translateX(-255px); 
  }
}
