.welcome-page {
  background-color: white;
  color: black;
  margin: 26px;
  margin-bottom: 100px;
  border-radius: 30px;
  padding-top: 157px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.welcome-main {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.text-container h1 {
  font-size: 55px;
  font-weight: 700;
  width: 730px;
  margin: 0;
}

.text-container h1 span {
  color: #8F9DA8;
}

.text-container h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 22px;
}

.text-container p {
  font-size: 16px;
  font-weight: 400;
  width: 628px;
  margin-top: 64px;
}

.text-container button {
  margin-top: 64px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  padding: 23px 40px;
  border-radius: 15px;
  background: linear-gradient(90deg, #E6E8E7, #8F9DA8);
  color: black;
}

.card-1 {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.card-2 {
  width: 400px;
  position: absolute;
  top: 180px;
  right: 100px;
  z-index: 3;
  transform: rotateZ(-25deg);
}


@media (max-width: 1500px) {
  .welcome-page {
    padding-top: 100px;
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .welcome-page {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .card-1 {
    top: 0;
    right: 0;
    width: 300px;
  }

  .card-2 {
    top: 70px;
    right: 60px;
    width: 300px;
  }
  
  .text-container h1 {
    font-size: 28px;
    width: 450px;
    margin-bottom: 30px;
  }

  .text-container h3 {
    width: 450px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .text-container p {
    font-size: 15px;
    width: 450px;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .welcome-page {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .card-1 {
    top: 30px;
    left: 250px;
    width: 200px;
  }

  .card-2 {
    top: 100px;
    left: 200px;
    width: 200px;
    z-index: 0;
  }
  
  .text-container h1 {
    font-size: 28px;
    width: 350px;
    margin-bottom: 79px;
  }

  .text-container h3 {
    width: 450px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .text-container p {
    font-size: 15px;
    width: 450px;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .welcome-page {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .card-1 {
    top: 0px;
    left: 220px;
    width: 250px;
  }

  .card-2 {
    top: 100px;
    left: 170px;
    width: 250px;
  }
  
  .text-container h1 {
    font-size: 28px;
    width: 200px;
    margin-bottom: 79px;
  }

  .text-container h3 {
    width: 314px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .text-container p {
    font-size: 15px;
    width: 314px;
    margin: 0;
  }
}