/* Стили для header */
header {
  position: fixed;
  top: 84px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
  transition: all 0.3s ease;
}

header.scrolled {
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 10px 0;
}

/* Внутренний контейнер */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  transition: color 0.3s ease;
}

/* Логотип */
.logo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.logo h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: black;
  transition: color 0.3s ease;
}

.logo h1 span {
  color: #8F9DA8;
}

.logo p {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  transition: color 0.3s ease;
}

header.scrolled .logo h1,
header.scrolled .logo p {
  color: white;
}

/* Навигация */
.button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.link-container {
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: black;
  transition: color 0.3s ease, border-color 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

header.scrolled .link-container {
  color: white;
  border-color: rgba(255, 255, 255, 0.6);
}

/* Языки */
.lang-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.lang-item {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.lang-item.active {
  font-weight: 700;
}

.divider {
  font-size: 10px;
  color: black;
  transition: color 0.3s ease;
}

header.scrolled .lang-item,
header.scrolled .divider {
  color: white;
}
