footer {
  background-color: black;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 100px;
  align-items: start;
  padding-bottom: 84px;
}

.footer p {
  margin: 0;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rules-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.company-name {
  font-size: 20px;
  font-weight: 400;
  color: #8F9DA8;
}

.rules-container p {
  font-size: 20px;
  font-weight: 400;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 13px;
}

.logo-f2 {
  width: 185px;
  font-size: 20px;
  font-weight: 400;
}

.logo-f {
  font-size: 36px;
  font-weight: 700;
}

.logo-f span {
  color: #8F9DA8;
}

.left-cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 13px;
}

.left-cont p {
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}

.right-cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 13px;
}

.right-cont p {
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}

.contact-cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 55px;
}

.contact-cont button {
  width: 406px;
  height: 75px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(90deg, #000000, #8F9DA8);
  cursor: pointer;
}

.contact-cont p {
  font-size: 30px;
  font-weight: 400;
  align-self: end;
}