.advantages-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-bottom: 120px;
}

.advantages-main h1 {
  font-size: 50px;
  font-weight: 700;
  width: 850px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-main p {
  font-size: 26px;
  font-weight: 400;
  width: 590px;
  margin: 0;
  margin-bottom: 85px;
}

.advantages-grid {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.left-grid {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: start;
  align-items: start;
}

.right-grid {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: start;
  align-items: start;
}

.innovations {
  height: 310px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  justify-content: end;
  align-items: start;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  padding: 20px;
  width: 630px;
}

.innovations h3 {
  font-size: 26px;
  font-weight: 700;
  width: 440px;
  margin: 0;
}

.innovations p {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  width: 550px;
}

.icon {
  position: absolute;
  width: 100px;
  top: 10px;
  right: 26px;
}

.innovations p span {
  font-weight: 700;
}

.geography {
  height: 310px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  justify-content: end;
  align-items: start;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  padding: 20px;
  width: 630px;
}

.geography h3 {
  font-size: 26px;
  font-weight: 700;
  width: 200px;
  margin: 0;
}

.geography p {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  width: 550px;
}

.geography p span {
  font-weight: 700;
}

.right-grid {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: start;
  align-items: start;
}

.safety {
  height: 310px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  justify-content: end;
  align-items: start;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  padding: 20px;
  width: 630px;
}

.safety p {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  width: 530px;
}

.safety p span {
  font-weight: 700;
}

.safety h3 {
  font-size: 26px;
  font-weight: 700;
  width: 300px;
  margin: 0;
}

.personal_work {
  height: 310px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  justify-content: end;
  align-items: start;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  padding: 20px;
  width: 630px;
}

.personal_work h3 {
  font-size: 26px;
  font-weight: 700;
  width: 300px;
  margin: 0;
}

.personal_work p {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  width: 530px;
}

.personal_work p span {
  font-weight: 700;
}

@media (max-width: 1500px) {
  .advantages-main h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .advantages-grid {
    gap: 30px;
  }

  .advantages-main p {
    font-size: 30px;;
    margin-bottom: 40px;
  }

  .innovations {
    width: 570px;
  }

  .innovations h3 {
    font-size: 23px;
    width: 300px;
  }

  .innovations p {
    font-size: 17px;
    width: 400px;
  }

  .geography {
    width: 570px;
  }

  .geography h3 {
    font-size: 23px;
    width: 300px;
  }

  .geography p {
    font-size: 17px;
    width: 400px;
  }

  .safety {
    width: 570px;
  }

  .safety h3 {
    font-size: 23px;
    width: 300px;
  }

  .safety p {
    font-size: 17px;
    width: 400px;
  }

  .personal_work {
    width: 570px;
  }

  .personal_work h3 {
    font-size: 23px;
    width: 300px;
  }

  .personal_work p {
    font-size: 17px;
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .advantages-main h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .advantages-grid {
    gap: 20px;
  }

  .advantages-main p {
    font-size: 25px;;
    margin-bottom: 40px;
  }



  .innovations {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .innovations h3 {
    font-size: 14px;
    width: 250px;
  }

  .innovations p {
    font-size: 14px;
    width: 250px;
  }

  .innovations img {
    width: 53px;
  }

  .geography {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .geography h3 {
    font-size: 14px;
    width: 250px;
  }

  .geography p {
    font-size: 14px;
    width: 250px;
  }

  .geography img {
    width: 53px;
  }

  .safety {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .safety h3 {
    font-size: 14px;
    width: 250px;
  }

  .safety p {
    font-size: 14px;
    width: 250px;
  }

  .safety img {
    width: 53px;
  }

  .personal_work {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .personal_work h3 {
    font-size: 14px;
    width: 250px;
  }

  .personal_work p {
    font-size: 14px;
    width: 250px;
  }

  .personal_work img {
    width: 53px;
  }
}

@media (max-width: 990px) {
  .advantages-main h1 {
    font-size: 30px;
    width: 600px;
    margin: 0;
    margin-bottom: 30px;
  }

  .advantages-main p {
    font-size: 20px;
    width: 500px;
    margin: 0;
    margin-bottom: 40px;
  }

  .advantages-grid {
    gap: 20px;
  }

  .innovations {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .innovations h3 {
    font-size: 14px;
    width: 250px;
  }

  .innovations p {
    font-size: 14px;
    width: 250px;
  }

  .innovations img {
    width: 53px;
  }

  .geography {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .geography h3 {
    font-size: 14px;
    width: 250px;
  }

  .geography p {
    font-size: 14px;
    width: 250px;
  }

  .geography img {
    width: 53px;
  }

  .safety {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .safety h3 {
    font-size: 14px;
    width: 250px;
  }

  .safety p {
    font-size: 14px;
    width: 250px;
  }

  .safety img {
    width: 53px;
  }

  .personal_work {
    width: 380px;
    padding: 23px 17px;
    justify-content: start;
    padding-top: 64px;
    height: 200px;
  }

  .personal_work h3 {
    font-size: 14px;
    width: 250px;
  }

  .personal_work p {
    font-size: 14px;
    width: 250px;
  }

  .personal_work img {
    width: 53px;
  }
  
}

@media (max-width: 800px) {
  .advantages-main h1 {
    font-size: 24px;
    width: 271px;
    margin: 0;
    margin-bottom: 30px;
  }

  .advantages-main p {
    font-size: 14px;
    width: 252px;
    margin: 0;
    margin-bottom: 40px;
  }

  .advantages-grid {
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }
}

@media (max-width: 450px) {
  .innovations {
    width: 290px;
  }

  .geography {
    width: 290px;
  }

  .safety {
    width: 290px;
  }

  .personal_work {
    width: 290px;
  }
}