.about-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 400px;
}

.about-main h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  width: 1250px;
  margin: 0;
}

.header-span {
  color: #8F9DA8;
}

.header-sub-text {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
}

.offer-text-container {
  display: flex;
  gap: 32px;
  margin-top: 40px;
  justify-content: start;
  align-items: start;
}

.offer-text {
  font-size: 22px;
  font-weight: 500;
  color: #8F9DA8;
  width: 1100px;
  margin: 0;
}

.offer-sub-text {
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 90px;
}

.line {
  height: 5px;
  margin-top: 5px;
  width: 80px;
  background-color: #8F9DA8;
}

.facts-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

.facts-container h1 {
  width: 500px;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.facts-container p {
  margin: 0;
}

.schedule {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.schedule span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  width: 195px;
  margin-top: 5px;
}

.experts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 420px;
  left: 230px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.experts span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  width: 195px;
  margin-top: 5px;
}

.countries {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 420px;
  left: 500px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.countries span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

.countries span span {
  font-size: 50px;
  font-weight: 800;
}

.projects {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  left: 725px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.projects span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

.projects span span {
  font-size: 50px;
  font-weight: 800;
}

.years {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  left: 875px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.years span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.years span span {
  font-size: 50px;
  font-weight: 800;
}

.logo-text {
  position: absolute;
  right: -10px;
  top: 375px;
  color: black;
  font-size: 60px;
  font-weight: 700;
  z-index: 5;
  transform: rotateZ(10deg);
}

.logo-text span {
  color: #8F9DA8;
}

.laptop {
  position: absolute;
  right: -50px;
  width: 700px;
  top: 100px;
}

@media (max-width: 1200px) {
  .progress {
    display: none;
  }

  .facts-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }

.schedule {
    position: unset;
    font-size: 28px;
  }

  .schedule span {
    font-size: 14px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .experts {
    position: unset;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .experts span {
    font-size: 14px;
    width: 150px;
    margin-top: 5px;
  }

  .countries {
    position: unset;
  }

  .countries span span{
    font-size: 22px;
    
  }

  .countries span {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .projects {
    position: unset;
  }

  .projects span span {
    font-size: 22px;
  }

  .projects span {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .years {
    position: unset;
  }

  .years span span {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .years span {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
  }
}


@media (max-width: 800px) {
  .about-main h1 {
    font-size: 19px;
    width: 320px;
  }

  .header-sub-text {
    font-size: 14px;
    width: 303px;
  }

  .facts-container h1 {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .offer-text {
    font-size: 14px;
    font-weight: 500;
    width: 257px;
  }

  .offer-sub-text {
    font-size: 16px;
  }

  .logo-text {
    font-size: 22px;
    top: 52%;
    right: 25px;
  }

  .laptop {
    width: 300px;
    right: 0;
    top: 30%;
    z-index: -1;
  }

  .schedule {
    position: unset;
    font-size: 22px;
  }

  .schedule span {
    font-size: 14px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .experts {
    position: unset;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .experts span {
    font-size: 14px;
    width: 150px;
    margin-top: 5px;
  }

  .countries span span{
    position: unset;
    font-size: 22px;
    
  }

  .countries span {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .projects span span {
    position: unset;
    font-size: 22px;
  }

  .projects span {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .years span span{
    position: unset;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .years span {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
  }
}