.about-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 400px;
}

.about-main h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  width: 1250px;
  margin: 0;
}

.header-span {
  color: #8F9DA8;
}

.header-sub-text {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
}

.offer-text-container {
  display: flex;
  gap: 32px;
  margin-top: 40px;
  justify-content: start;
  align-items: start;
}

.offer-text {
  font-size: 22px;
  font-weight: 500;
  color: #8F9DA8;
  width: 1100px;
  margin: 0;
}

.offer-sub-text {
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 90px;
}

.line {
  height: 5px;
  margin-top: 5px;
  width: 80px;
  background-color: #8F9DA8;
}

.facts-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

.facts-container h1 {
  width: 500px;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.facts-container p {
  margin: 0;
}

.facts-row {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.schedule {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
}

.schedule p {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  width: 195px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.schedule p span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.experts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 120px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.experts p {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  width: 195px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experts p span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.countries {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 250px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.countries span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

.countries span span {
  font-size: 50px;
  font-weight: 800;
}

.projects {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -50px;
  left: 360px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.projects p {
  width: 250px;
}

.projects span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

.projects span span {
  font-size: 50px;
  font-weight: 800;
}

.years {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -220px;
  left: 875px;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.years p {
  width: 300px;
  line-height: 10px;
}

.years span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.years span span {
  font-size: 50px;
  font-weight: 800;
}

.logo-text {
  position: absolute;
  right: 20px;
  top: 375px;
  color: black;
  font-size: 60px;
  font-weight: 700;
  z-index: 5;
  transform: rotateZ(10deg);
}

.logo-text span {
  color: #8F9DA8;
}

.laptop {
  position: absolute;
  right: -20px;
  width: 700px;
  top: 100px;
}

.dot-outter {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8F9DA8;  
  border-radius: 50%;
  display: none;
  margin-bottom: 10px;
}

.dot-outter img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

@media (max-width: 1500px) {
  .laptop {
    right: -50px;
    bottom: -500px;
    top: unset;
    width: 600px;
  }

  .logo-text {
    right: -10px;
    font-size: 45px;
    bottom: -100px;
    top: unset;
  }
}

@media (max-width: 1200px) {
  .about-main h1 {
    font-size: 26px;
    width: 100%;
    margin-bottom: 40px;
  }

  .offer-text {
    font-size: 16px;
    width: 100%;
  }

  .progress {
    width: 600px;
  }

  .schedule p {
    font-size: 35px;
  }

  .schedule p span {
    font-size: 14px;
    width: 150px;
  }

  .experts {
    left: 70px;
  }

  .experts p span {
    font-size: 14px;
    width: 150px;
  }

  .countries {
    left: 170px;
  }

  .countries p span {
    font-size: 14px;
    width: 150px;
  }

  .countries p span span {
    font-size: 35px;
  }

  .projects {
    left: 240px;
    top: -30px;
  }

  .projects p span {
    font-size: 14px;
    width: 150px;
  }

  .projects p span span {
    font-size: 35px;
  }

  .years {
    left: 600px;
    top: -170px;
  }

  .years p {
    line-height: 10px;
  }

  .years p span {
    font-size: 14px;
    width: 150px;
  }

  .years p span span {
    font-size: 35px;
  }

  .experts p {
    font-size: 35px;
  }

  .logo-text {
    font-size: 30px;
    top: unset;
    bottom: -170px;
    right: 45px;
  }

  .laptop {
    width: 400px;
    right: 10px;
    bottom: -420px;
  }
}

@media (max-width: 800px) {
  .about-main h1 {
    font-size: 26px;
    width: 300px;
    margin-bottom: 40px;
  }

  .about-main p {
    font-size: 16px;
  }

  .offer-text {
    font-size: 16px;
    width: 250px;
  }

  .facts-row {
    justify-content: space-between;
  }

  .progress {
    display: none;
  }

  .dot-outter {
    display: flex;
  }

  .schedule {
    position: unset;
    margin-bottom: 40px;
  }

  .schedule p {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .schedule p span {
    font-size: 14px;
  }

  .experts {
    position: unset;
    margin-bottom: 40px;
  }

  .experts p {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .experts p span {
    font-size: 14px;
  }

  .countries {
    position: unset;
    margin-bottom: 40px;
  }

  .countries p span span {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .countries p span {
    font-size: 14px;
    width: 155px;
  }

  .projects {
    position: unset;
    margin-bottom: 40px;
  }

  .projects p {
    width: 155px;
  }

  .projects p span span {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .projects p span {
    font-size: 14px;
    width: 155px;
  }

  .years {
    position: unset;
    margin-bottom: 40px;
  }

  .years p {
    width: 155px;
  }

  .years p span span {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .years p span {
    font-size: 14px;
    width: 155px;
  }

  .laptop {
    width: 300px;
    bottom: -200px;
    top: unset;
  }

  .logo-text {
    font-size: 20px;
    top: unset;
    bottom: 0px;
    right: 50px;
  }
}

@media (max-width: 450px) {
  .about-main h1 {
    font-size: 26px;
    width: 266px;
    margin-bottom: 40px;
  }

  .about-main p {
    font-size: 14px;
  }

  .offer-text {
    font-size: 14px;
    width: 250px;
  }

  .facts-row {
    justify-content: space-between;
  }

  .progress {
    display: none;
  }

  .dot-outter {
    display: flex;
  }

  .schedule {
    position: unset;
    margin-bottom: 40px;
  }

  .schedule p {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .schedule p span {
    font-size: 14px;
  }

  .experts {
    position: unset;
    margin-bottom: 40px;
  }

  .experts p {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .experts p span {
    font-size: 14px;
  }

  .countries {
    position: unset;
    margin-bottom: 40px;
  }

  .countries p span span {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .countries p span {
    font-size: 14px;
    width: 155px;
  }

  .projects {
    position: unset;
    margin-bottom: 40px;
  }

  .projects p {
    width: 155px;
  }

  .projects p span span {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .projects p span {
    font-size: 14px;
    width: 155px;
  }

  .years {
    position: unset;
    margin-bottom: 40px;
  }

  .years p {
    width: 155px;
  }

  .years p span span {
    font-size: 22px;
    width: 155px;
    line-height: 20px;
    gap: 20px;
  }

  .years p span {
    font-size: 14px;
    width: 155px;
  }

  .laptop {
    width: 300px;
    bottom: -200px;
    top: unset;
  }

  .logo-text {
    font-size: 20px;
    top: unset;
    bottom: 0px;
    right: 60px;
  }
}