@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}